html {
	scroll-behavior: smooth;
}

/* Set the foreground color value to #161616 for the body */
body {
	color: #161616;
  }
  
  /* Set the foreground color value to #161616 for all anchor elements */
  a {
	color: #161616;
  }
  
  /* All elements with the class visually-hidden should have their display set to none */
  .visually-hidden {
	display: none;
  }
  
  /* All elements with the class card-category should have their foreground color set to #D73953 */
  .card-category {
	color: #D73953;
  }
  
  /* All elements with the class section-tagline should have their foreground color set to #D73953 */
  .section-tagline {
	color: #D73953;
  }